<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="HeaderAssets">
        <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/canvas.css', extensionName: 'RkwCanvas')}"/>
    </f:section>

    <f:section name="main">

        <f:render partial="Svg" />

        <f:format.raw>
            <script>window.translations = {translations}</script>
        </f:format.raw>

        <div class="flex-container center-main">
            <div class="flex-basis-12">
                <div
                    id="js-canvas"
                    class="flex-container center-main"
                    data-save-mode="{settings.saveMode}"
                    data-read-more="{readMore}"
                >
                    <canvas></canvas>
                </div>
            </div>
        </div>
    </f:section>

    <f:section name="FooterAssets">
        <script type="application/javascript" src="{f:uri.resource(path:'Scripts/canvas.vendor.js', extensionName: 'RkwCanvas')}"></script>
        <script type="application/javascript" src="{f:uri.resource(path:'Scripts/canvas.js', extensionName: 'RkwCanvas')}"></script>
    </f:section>

</html>
