<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="main">

        <f:render partial="Svg" />

        <f:format.raw>
            <script>window.translations = {translations}</script>
        </f:format.raw>

        <div class="flex-container center-main">
            <div class="flex-basis-12">
                <div id="app"></div>
            </div>
        </div>
    </f:section>
</html>