@charset "UTF-8";
/**! ==================================================
 * RKW Kompetenzzentrum – Styleguide
 * ================================================== */
/**! ==================================================
 * Settings
 * ================================================== */
/**! ==================================================
 * Global Settings
 * ================================================== */
/**! ==================================================
 * Mixins
 * ================================================== */
/*
* Apply focus outline to element based on given color
*
* Defaults to focus-color if no color is specified
*/
/*
* Apply focus shadow to element based on given color
*
* Defaults to focus-color if no color is specified
* Should only be used if focusoutline() is not applicable, e.g. form elements
*/
.canvas {
    width: 100%;
    position: relative;
}

.js-save-notes {
    position: absolute;
    top: 2rem;
    right: 4rem;
}

.area__title {
    position: absolute;
}

.area__title--potential, .area__title--productivity {
    top: 1rem;
}

.area__title--potential {
    left: 1rem;
}

.area__title--productivity {
    right: 1rem;
}

.area__title-personal {
    width: 100%;
    text-align: center;
    bottom: 1rem;
}

.area__title h2 {
    margin-top: 0;
    padding-top: 0;
}

.note {
    border: 1px solid;
    border-radius: .5em;
    position: absolute;
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
}

.note .tile__header .btn--link {
    color: #d63f11;
}

.note .tile__content {
    padding: .125em;
    overflow: hidden;
}

.note .tile__content textarea {
    padding: 0.5em;
    background: transparent;
    border: none;
    border-radius: .5em;
    resize: none;
    width: 100%;
    height: 100%;
}

.note.is-dragged {
    opacity: .5;
}

.note:not(.is-active) .tile__content textarea {
    overflow: hidden;
}

.z-index-1 {
    z-index: 1;
}

.btn--link {
    background: transparent;
    border: none;
}

.btn--link:hover, .btn--link:focus {
    cursor: pointer;
    color: #ca3b12;
}

.canvas-control {
    position: absolute;
    right: 0;
    top: -30px;
}

.label-group:hover text, .label-group:hover use {
    cursor: pointer;
    fill: #ca3b12;
    color: #ca3b12;
}

.sidebar {
    width: 600px;
}

.mdl__content .tabs-component-tabs, .sidebar__content .tabs-component-tabs {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.mdl__content .tabs-component-tabs li, .sidebar__content .tabs-component-tabs li {
    display: inline-block;
    margin-bottom: 0;
    margin-right: .5rem;
    padding: .5rem;
}

.mdl__content .tabs-component-tabs li.is-active, .sidebar__content .tabs-component-tabs li.is-active {
    border: 1px solid #cccccc;
    border-bottom-color: #ffffff;
    border-radius: 8px 8px 0 0;
}

.mdl__content .tabs-component-tabs li.is-active a, .sidebar__content .tabs-component-tabs li.is-active a {
    color: #676767;
}

.mdl__content .tabs-component-tabs li:first-child, .sidebar__content .tabs-component-tabs li:first-child {
    margin-left: 0;
}

.mdl__content .tabs-component-panels, .sidebar__content .tabs-component-panels {
    padding-top: 1.5rem;
    margin-top: -1px;
    border-top: 1px solid #cccccc;
}

/* should be part of compiling process - see app.js */
@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.v-toast--fade-out {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.v-toast--fade-in-down {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.v-toast--fade-in-up {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.fade-enter-active, .fade-leave-active {
    -webkit-transition: opacity 150ms ease-out;
    transition: opacity 150ms ease-out;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.v-toast {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2em;
    overflow: hidden;
    z-index: 1052;
    pointer-events: none;
}

.v-toast__item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-animation-duration: 150ms;
    animation-duration: 150ms;
    margin: .5em 0;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
    border-radius: .25em;
    pointer-events: auto;
    opacity: .92;
    color: #fff;
    min-height: 3em;
    cursor: pointer;
}

.v-toast__item--success {
    background-color: #408040;
}

.v-toast__item--info {
    background-color: #17a2b8;
}

.v-toast__item--warning {
    background-color: #e16a00;
}

.v-toast__item--error {
    background-color: #d63f11;
}

.v-toast__item--default {
    background-color: #343a40;
}

.v-toast__item.v-toast__item--top,
.v-toast__item.v-toast__item--bottom {
    -ms-flex-item-align: center;
    align-self: center;
}

.v-toast__item.v-toast__item--top-right,
.v-toast__item.v-toast__item--bottom-right {
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.v-toast__item.v-toast__item--top-left,
.v-toast__item.v-toast__item--bottom-left {
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.v-toast__text {
    margin: 0;
    padding: .5em 1em;
    word-break: break-word;
}

.v-toast__icon {
    display: none;
}

.v-toast.v-toast--top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.v-toast.v-toast--bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

.v-toast.v-toast--custom-parent {
    position: absolute;
}

@media screen and (max-width: 768px) {
    .v-toast {
        padding: 0;
        position: fixed !important;
    }
}
